<!DOCTYPE html>

<html>

    <head>

        {% block head %}

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <script src="https://unpkg.com/htmx.org@1.7.0"></script>
            <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
            <script src="https://kit.fontawesome.com/7bd84e7f53.js" crossorigin="anonymous"></script>
            <script src="https://cdn.tailwindcss.com"></script>

            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

            <title>conveyeer</title>

        {% endblock %}

    </head>

    <body class="min-h-screen flex flex justify-center items-center static
                 bg-gradient-to-tl from-blue-100 via-blue-300 to-blue-500">

        <i class="fa-solid fa-circle-chevron-down fa-2x
                  absolute top-4 left-4 cursor-pointer text-sky-900"
           _="on click toggle the *display of the next <menu/> then hide me then toggle the *display of the next <i/>">
        </i>

        <i class="fa-solid fa-circle-chevron-up fa-2x
                  absolute top-4 left-4 cursor-pointer text-sky-900"
            _="on click toggle the *display of the next <menu/> then hide me then toggle the *display of the previous <i/>"
            style="display: none">
        </i>

        <menu class="absolute top-14 left-4 z-10
                     w-fit h-fit bg-slate-200
                     rounded-xl p-3 space-y-2
                     shadow-2xl"
              style="display: none">

            <a href="{{url_for('about')}}">
                <li class="p-1 hover:bg-slate-300 rounded-md cursor-pointer">
                    <i class="fa-solid fa-circle-info"></i> About
                </li>
            </a>

            <a href="https://github.com/v-spassky/softserve-itacademy-tasks/tree/master/Python/Python-final_project" target="_blank">
                <li class="p-1 hover:bg-slate-300 rounded-md cursor-pointer">
                    <i class="fa-brands fa-github"></i> Source
                </li>
            </a>

            <a href="{{url_for('author')}}">
                <li class="p-1 hover:bg-slate-300 rounded-md cursor-pointer">
                    <i class="fa-solid fa-hand-sparkles"></i> Author
                </li>
            </a>

            <a href="{{url_for('home')}}">
                <li class="p-1 hover:bg-slate-300 rounded-md cursor-pointer">
                    <i class="fa-solid fa-square-caret-right"></i> Dashboard
                </li>
            </a>

        </menu>

        {% block content %}
        {% endblock %}

    </body>

</html>