{% extends 'base.html' %}

{% block content %}

<main class="w-fit h-64 bg-slate-200 flex p-10 space-x-10 rounded-2xl bg-opacity-40">

    <img src="{{ url_for('static', filename='shrug.png') }}" alt="Sorry!" class="bg-transparent">

    <div class="w-fit flex flex-col justify-center items-start rounded-2xl text-5xl font-bold space-y-1">

        <p>
            Sorry!
        </p>

        <p class="text-lg font-normal">
            Something went wrong.
        </p>

        <a href="{{ url_for('home') }}" class="flex justify-center items-center
                      bg-sky-400 p-2 rounded-full text-lg font-normal w-full hover:bg-sky-500 transition-all duration-200">
            Go to start
        </a>

    </div>

</main>

{% endblock %}